<!DOCTYPE html>
<html lang="zh-cmn">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <title>物品列表</title>
    <link type="text/css" rel="stylesheet" href="/css/smzdm/common.css"/>
    <link type="text/css" rel="stylesheet" href="/css/smzdm/icons.css"/>
    <link type="text/css" rel="stylesheet" href="/css/smzdm/list.css"/>
    <link type="text/css" rel="stylesheet" href="/css/smzdm/search-box.css"/>
    <link href="https://cdn.bootcss.com/Buttons/2.0.0/css/buttons.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/smzdm/icons.css"/>
    <link type="text/css" rel="stylesheet" href="/css/smzdm/category.css"/>
</head>
<body>
<div class="content-inner">
    <div id="feed-wrap" class="z-clearfix">
        <div id="search-box">
            <span class="button-dropdown button-dropdown-primary" data-buttons="dropdown">
             <button class="button button-glow button-border button-rounded button-small button-primary">
               <i class="fa fa-bars"></i> {{searchModel}}
             </button>
             <ul class="button-dropdown-list is-below">
               <li><a href="javascript:" @click="changeSearchModel('标题')">标题</a></li>
               <li><a href="javascript:" @click="changeSearchModel('目录')">目录</a></li>
             </ul>
           </span>
            <input type="text" v-model="words" class="search-input" style="width: 125px;" placeholder="关键词" @keyup.enter="search">
            <input type="number" v-model.number="pageIndex" class="search-input" placeholder="  页码数" @keyup.enter="search">
            <input type="number" v-model.number="worthCount" class="search-input" placeholder="  点值数" @keyup.enter="search">
            <input type="number" v-model.number="commentCount" class="search-input" placeholder="  评论数" @keyup.enter="search">
            <span class="button-dropdown button-dropdown-primary" data-buttons="dropdown" style="line-height:25px;  margin-left: 180px;">
             <button class="button button-glow button-border button-rounded button-small button-primary">
               <i class="fa fa-bars"></i> {{sortModel}}
             </button>
             <ul class="button-dropdown-list is-below">
               <li><a href="javascript:" @click="changeSortModel('时间')">时间</a></li>
               <li><a href="javascript:" @click="changeSortModel('点赞')">点赞</a></li>
             </ul>
           </span>
        </div>
        <div class="dropdown-con" style="margin-left: 100px;top: 60px;">
            <ul class="drop-cate-list">
                <li v-for="(index,item) in items" :data-id="item.ID" @mouseenter="hover(index)" :class="{ active: index == showIndex }">
                    <a href="javascript:">
                        <span class="z-icons" :class="'z-icon-' + item.url_nicktitle"></span> {{item.title}}
                    </a>
                </li>
            </ul>
            <div class="dropdown-r">
                <div v-for="(index,tempItem) in items" class="drop-cate-wrap" :style="{ display: index == showIndex ? 'block':'none' }">
                    <table class="drop-menus">
                        <tbody>
                        <tr v-for="(index2,children) in tempItem.child">
                            <td class="drop-menu-title" @click="choseAllItem(index,index2)" :class="{ 'category-selected': children.isActive }">
                                <a href="javascript:" :data-id="children.ID">{{children.title}}</a><span class="split"></span>
                            </td>
                            <td class="drop-menu-items">
                                <a href="javascript:" v-for="(index3,nodes) in children.child" :data-id="nodes.ID" @click="choseItem(index, index2, index3)"
                                   :class="{ 'category-selected': nodes.isActive||children.isActive}">{{nodes.title}}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <ul id="feed-main-list">
            <li v-for="item in items">
                <h5 class="feed-block-title">
                    <a :href="item.url">{{item.title}}<span class="z-highlight">{{item.price}}</span></a>
                </h5>
                <div class="feed-block z-hor-feed ">
                    <div class="z-feed-img">
                        <a class="z-tag-guonei">{{item.type}}</a>
                        <a href="https://www.smzdm.com/p/8950865/" target="_blank">
                            <img :src="item.pic">
                        </a>
                    </div>
                    <div class="z-feed-content">
                        <div class="feed-block-info">
                            <!--<span>推荐人：艾美丽104</span>-->
                            <!--<span class="feed-block-tags"> 标签：-->
                            <!--<a href="http://www.smzdm.com/tag/%E9%94%85%E5%85%B7/haitao/">锅具</a>-->
                            <!--<a href="http://www.smzdm.com/tag/%E6%97%A5%E6%9C%AC%E9%A6%86/haitao/">日本馆</a>-->
                            <!--</span>-->
                        </div>
                        <div class="feed-block-descripe">{{item.content}}</div>
                        <div class="z-feed-foot">
                            <div class="z-feed-foot-l">
                                    <span class="feed-btn-group">
                                        <a href="javascript:" class="price-btn-up"><span class="unvoted-wrap"><i
                                                class="z-icon-zhi"></i><span>{{item.worthy}}</span></span></a>
                                        <a href="javascript:" class="price-btn-down"><span class="unvoted-wrap"><i class="z-icon-buzhi"></i><span>{{item.unworthy}}</span></span></a>
                                    </span>
                                <a class="z-group-data"><i class="z-icon-star-empty"></i><span>{{item.collection}}</span></a>
                                <a href="https://www.smzdm.com/p/8950865/#comments" class="z-group-data"><i class="z-icon-comment"></i>{{item.comment}}</a>
                            </div>
                            <div class="z-feed-foot-r">
                                <div class="feed-link-btn">
                                    <div class="feed-link-btn-inner">
                                        <a :href="item.url" class="z-btn z-btn-red">去购买</a>
                                    </div>
                                </div>
                                <span class="feed-block-extras">{{item.date}}<a href="http://www.smzdm.com/mall/amazon_jp/">{{item.mall}}</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="http://apps.bdimg.com/libs/vue/1.0.14/vue.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.22.0/moment.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/Buttons/2.0.0/js/buttons.js"></script>
<script src="/js/commons.js"></script>
<script src="/js/category.js"></script>
<script>
    let jsonItem = [];
    let currentMoment = new moment();
    let dayUnix = currentMoment.millisecond(0).second(0).minute(0).hour(0).valueOf();
    let yearUnix = new moment(String(currentMoment.year()), 'YYYY').valueOf();
    let listVue = new Vue({
        el: '#feed-main-list',
        data: {
            items: jsonItem,
        },
        filters: {
            timeHandler: function (value) {
                if (value > dayUnix) {
                    return (new moment(value)).format('HH:mm');
                } else if (value > yearUnix) {
                    return (new moment(value)).format('MM-DD HH:mm');
                } else {
                    return (new moment(value)).format('YYYY-MM-DD HH:mm');
                }
            }
        }
    });
    let searchVue = new Vue({
        el: '#search-box',
        data: {
            searchModel: '标题',
            sortModel: '时间',
            words: '',
            pageIndex: '',
            worthCount: '',
            commentCount: ''
        },
        methods: {
            changeSearchModel: function (type) {
                this.searchModel = type;
            },
            changeSortModel: function (type) {
                this.sortModel = type;
            },
            changeSort: function () {

            },
            search: function () {
                $.post('/article/proxy-list')
            }
        }
    });
</script>
</body>
</html>