.z-icon-gold:before {
    content: "\E94F"
}

.z-icon-thumb-up:before {
    content: "\E922"
}

.z-icon-star-empty:before {
    content: "\2606"
}
.z-icon-buzhi:before {
    content: "\E904"
}

.z-icon-comment:before {
    content: "\E920"
}

.z-icon-zhi:before {
    content: "\503C"
}

.z-icon-fangchanzhiye:before {
    content: "\E941"
}

.z-icon-lvyouchuxing:before {
    content: "\E943"
}

.z-icon-wenhuayule:before {
    content: "\E944"
}

.z-icon-jinronglvyou:before {
    content: "\E92D"
}

.z-icon-bangongshebei:before {
    content: "\E91B"
}

.z-icon-diannaoshuma:before {
    content: "\E91C"
}

.z-icon-fushixiebao:before {
    content: "\E91D"
}

.z-icon-gehuhuazhuang:before {
    content: "\E91E"
}

.z-icon-jiajujiazhuang:before {
    content: "\E923"
}

.z-icon-jiayongdianqi:before {
    content: "\E924"
}

.z-icon-lipinzhongbiao:before {
    content: "\E925"
}

.z-icon-muyingyongpin:before {
    content: "\E926"
}

.z-icon-qicheyongpin:before {
    content: "\E927"
}

.z-icon-riyongbaihuo:before {
    content: "\E928"
}

.z-icon-shipinbaojian:before {
    content: "\E929"
}

.z-icon-tushuyinxiang:before {
    content: "\E92A"
}

.z-icon-wanmoyueqi:before {
    content: "\E92B"
}

.z-icon-yundonghuwai:before {
    content: "\E92C"
}